{% extends "base.html.twig" %}

{% block title %}Database Error{% endblock %}
{% block content %}
    <h2>Oops</h2>

    An internal error with the database has occured, please contact admin@guillaumepierson.fr, to notify and help me to
    resolve this error. If you just come just telle me that the database is down, else teel me what your tried to do,
    I may have write an incorrect sentence, Thanks !
{% endblock %}


