{% extends "base.html.twig" %}

{% block title %}Welcome{% endblock %}
{% block content %}
    <h2>Greetings summoner. </h2>

    <p>Hi summoner, in this website you an create ItemSet within this site with all options of the item sets
    as designed in the <a href="https://developer.riotgames.com/docs/item-sets">riot developers website</a>.
    Or you can upload your item set to share it.</p>

    <p>
        When crating within the site, you will see that the interface is nearly the same that in the launcher or,
        in-game. In this interface, there is a search bar, in this search bar, you can search the name of the item,
        or the tags. You have checkbox to restrict the items. You can to select multiples category to restricts even more.
        And thee are button group that give all items that are in the following checkbox.
    </p>

    <p>When you have upload/created it you will be able to download or copy/paste the item set.
    And the possibility to share your build, with an given url</p>

    <a href="{{ url('itemset', 'list') }}"><button class="btn btn-default">List item sets</button></a>
    <a href="{{ url('itemset', 'create') }}"><button class="btn btn-default">Create a item set</button></a>
    <a href="{{ url('itemset', 'upload') }}"><button class="btn btn-default">Upload a item set</button></a>
{% endblock %}


