{% extends "base.html.twig" %}

{% block title %}Riot API Down{% endblock %}
{% block content %}
    <h2>Oops</h2>

    Sorry, thee RIOT API is actualy down :/, so this site can't run it without it sorry, some data that are cached can still works
{% endblock %}


